<head  th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
  <meta charset="UTF-8">
  <title>Сурков</title>
  <link rel="stylesheet" href="/resources/css/main.css"/>
  <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
  <script type="text/javascript" src="/resources/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/resources/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/resources/js/main.js"></script>
</head>